<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myreminder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyReminder">
        <activity
            android:name=".ViewLowPrio"
            android:label="@string/title_activity_view_low_prio"
            android:theme="@style/Theme.MyReminder.NoActionBar"></activity>
        <activity
            android:name=".ViewMedPrio"
            android:label="@string/title_activity_view_med_prio"
            android:theme="@style/Theme.MyReminder.NoActionBar" />
        <activity
            android:name=".ViewHighPrio"
            android:label="@string/title_activity_view_high_prio"
            android:theme="@style/Theme.MyReminder.NoActionBar" />
        <activity
            android:name=".AddReminder"
            android:label="@string/title_activity_add_reminder"
            android:theme="@style/Theme.MyReminder.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyReminder.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>